<?xml version="1.0"?>
<!-- Local -->
<configuration>
  <appSettings>
    <add key="StatsdServerName" value="127.0.0.1"/>
    <add key="StatsdServerPort" value="8125"/>

    <add key="StatsdEnvironment" value="environment"/>
    <add key="StatsdApplication" value="application"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
