<?xml version="1.0"?>
<!-- Local -->
<configuration>
  <appSettings>
    <add key="StatsdServerName" value="localhost"/>
    <add key="StatsdServerPort" value="8125"/>

    <add key="StatsdEnvironment" value="environment"/>
    <add key="StatsdApplication" value="application"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
