/Tests/bin/Debug/Rhino.Mocks.dll
/Tests/bin/Debug/Rhino.Mocks.xml
/Tests/bin/Debug/StatsdClient.dll
/Tests/bin/Debug/StatsdClient.pdb
/Tests/bin/Debug/Tests.dll
/Tests/bin/Debug/Tests.dll.config
/Tests/bin/Debug/Tests.pdb
/Tests/bin/Debug/nunit.framework.dll
/Tests/bin/Debug/nunit.framework.xml
/Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Tests/obj/Debug/Tests.csproj.FileListAbsolute.txt
/Tests/obj/Debug/Tests.csprojResolveAssemblyReference.cache
/Tests/obj/Debug/Tests.dll
/Tests/obj/Debug/Tests.pdb
