<?xml version="1.0" encoding="utf-8" ?>
<!-- Local -->
<configuration>
  <appSettings>
    <add key="StatsdServerName" value="try_your_host_name_here" />
    <add key="StatsdServerPort" value="8125" />

    <add key="StatsdEnvironment" value="environment" />
    <add key="StatsdApplication" value="application" />
  </appSettings>
</configuration>
